* {
    selected-text:	#403E3E;
    selected-background: #959D91;

    prompt-text: #403E3E;
    prompt-background: #4D4543B3;

    normal-text: #F1F3ED;
    normal-background: #4D4543B3;

    window-border: #959D91;
    window-background: #A1A5990D;

    scrollbar-filled: #959D91;
    scrollbar-empty: #403E3E;

    error-message: #E2E5DD;
    error-message-border: #E2E5DD;
}